@charset "UTF-8";

/* Importação de fonts (google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variáveis */
:root {
    --azul: rgb(43, 147, 175);
    --branco: #ffff;
    --vermelho: #FF0000;
    --laranja: #f9a528;
    --preto: #0000;
    --ciano: #00ffff;
    --verde: #008000;
    --chocolate: #D2691E;
    --saddleBrown: #8B4513;
    --Indigo: #4B0082;
    --darkMagenta: #8B008B;
    --deepPink: #FF1493;
    --lightCoral: #F08080;
    --maroon: #800000;
    --red: #FF0000;
    --orangeRed: #FF4500;
    --orange: #FFA500;
    --gold: #FFD700;

}

/* CSS Reset (Compatibilizar com todos navegadores)*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    /* 1em = 100% (tamanho padrão */
}

.container {
    margin: 0 auto;
    /* centralizar o bloco */
    display: flex;
    justify-content: space-between;

}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    font-weight: 700;
    background-color: var(--azul);
    width: 160px;
    padding: 10px 20px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    align-self: center;
    margin-top: 30px;
}

.card {
    width: 338px;
    height: 520px;
    background-color: var(--cinza);
    border: 1px solid var(--azul);
    margin-top: 25px;
    border-radius: 25px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h3 {
    margin-top: 15px;
}

.card p {
    text-align: left;
    padding: 10px 30px 50px 30px;
}

.card a {
    padding: 10px 100px;
    border: 0;
    background-color: var(--azulMedio);
}

/* Fim do Layort <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/***** Cabeçalho *****/
header {
    height: 80px;
    background-color: rgb(171, 191, 192)
}

header h1 {
    position: relative;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    color: rgb(14, 80, 134);
}

#logo img {
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 10px;
    align-items: center;
}

#check {
    display: none;
}

/* Efeito de deslizar o menu */
/* se check estiver "ticado", cria um estilo para ul*/
#check:checked~ul {
    right: 0;
}

label {
    font-size: 3em;
    position: fixed;
    top: 30px;
    right: 15px;
    color: rgba(29, 28, 28, 0.5);
    /* 0.5 = 50% transparente (0 a 1 (100%) */
}

nav ul {
    height: 100vh;
    /* 100vh - 50% altura da tela */
    background-color: var(--azul);
    list-style: none;
    /* remover bullets */
    width: 65%;
    position: fixed;
    top: 80px;
    right: -65%;
    transition: all 0.5s;
}

nav ul li {
    padding: 5px 7px;
    /* lagura x altura box */
    border-bottom: 1px solid var(--branco);
    text-align: right;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
    /* remover sublinhado */
}

/***** Banner *****/
main {
    height: 60vh;
    /* ajuste da altura do banner */
    background: url(img/fotonovo8.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    color: var(--azul);
    text-shadow: #000 0.07em 0.07em 0.07em;
    /*sombra*/
}

main h1 {
    color: var(--laranja) font-size: 5em;
}

main h2 {
    font-size: 1.8em;
    margin-top: 30px;
}

#ImagemDestaque img {
    width: 150px;
    height: 150px;
    border-radius: 90%;
}

/***** Destaque ******/
#destaque .container {
    flex-direction: column;
    align-items: center;

}

#destaque {
    background: url(img/fotonovo20.jpg);
    background-size: cover;
    background-position: center;
    color: rgba(13, 59, 75);
}

.topicos {
    color: rgb(13, 59, 75);
    display: center;
    flex-direction: row;
    justify-content: center;
}

#imagemDestaque img {
    margin-bottom: 15px;
}

#imagemFaixa img {
    width: 180px;
    height: 180px;
}

/*** Seçaõ de conteúdo (cards) **/
#conteudo {
    padding: 50px 0px;
}

#conteudo .container {
    flex-direction: column;
    align-items: center;
}

#conteudo h2 {
    color: var(--azul);
    margin-bottom: 25px;
}

#todos {
    color: var(--azul);
    margin-top: 50px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/***** Fim do Samartphone Portrait *****/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

    /* cabeçalho */
    #logo img {
        margin: 10px 0px 10px 0px;
    }

    .container {
        max-width: 540px;
        /* background-color: #00ffff; */
    }
}

/***** Fim do Samartphone Landscape *****/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Table Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /* cabeçalho */
    .container {
        max-width: 720px;
        /* background-color: #00ffff; */
    }

    header {
        height: 100px;
    }

    #logo img {
        width: 150px;
        height: 150px;
        padding-top: 30px;
    }

    nav ul {
        top: 100px;
        width: 50%;
        right: -50%;
    }

    /* Banner */
    main h1 {
        font-size: 3em;
    }

    main h2 {
        font-size: 3em;
    }
}

/***** Fim do Samartphone Portrait *****/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Table Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {}

/* cabeçalho */

/***** Fim do Table Landscape *****/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
        /*   background-color: rgb(27, 118, 166); */
    }

    /* Cabeçalho */
    header {
        height: 150px;
    }

    #logo img {
        width: 128px;
        height: 128px;
    }

    /* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
        /* Revomer a cor do background */
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--azul);
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }

    #destaque .container {
        flex-direction: row;
        align-self: center;
        width: fit-content;
    }

    #ImagemDestaque {
        margin: 10px 50px 50px 10px;
    }

}

/* Banner */
main h1 {
    font-size: 6em;
}

/***** Fim do PCs e Norebooks *****/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tela FullHD / 4K / >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
        /*  background-color: #7d5b8c; */
    }

    header {
        height: 200px;
    }

    #logo img {
        width: 176px;
        height: 176px;
    }

    #destaque .container {
        flex-direction: row;
        align-self: center;
    }
}

/***** Fim do Tela FullHD | 4K *****/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/