@charset "UTF-8";

/* Importação de fonts (google fonts) */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis */
:root {
    --background: var(--azul);
    --azul: rgb(43, 147, 175);
    --branco: #fff;
    --amarelo: #e5b567;
    --azul: #9cdcfe;
    --azulMedio: #3b468c;
    --azulEscuro: #05152b;
    --cinzaClaro: #d6d6d6;
    --cinza: #858585;
    --laranja: #e87d3e;
    --pink: #b05279;
    --roxo: #9e86c8;
    --verde: #b4d273;
    --vermelho: #ff0000;
    --ciano: #64B7CC;
}

/* CSS Reset (Compatibilizar com todos navegadores)*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
body {
    font-family: "Lobster Two", serif;
    font-size: 1em;
    /* 1em = 100% (tamanho padrão */
    background-color: var(--background);
}

.flex5 {
    display: flex;
    flex-direction: column-reverse;
}

.flex6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
.container {
    margin: 0 auto;
    /* centralizar o bloco */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    font-weight: 700;
    background-color: var(--azulMedio);
    width: 160px;
    padding: 10px 10px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    align-self: center;
    margin-top: 30px;
}
/* Layout para 3 cartões */
.card {
    width: 338px;
    height: 520px;
    background-color: var(--cinza);
    border: 1px solid var(--azul);
    margin-top: 25px;
    border-radius: 25px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h3 {
    margin-top: 15px;
}

.card p {
    text-align: left;
    padding: 10px 30px 50px 30px;
}

.card a {
    padding: 10px 100px;
    border: 0;
    background-color: var(--azulMedio);
    color: var(--branco)
}

/* Fim do Layort <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/***** Cabeçalho *****/
header {
    height: 70px;
    /* height: 65px; */
    /* background-color: rgb(171, 191, 192) */
}

header h1 {
    position: relative;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    color: rgb(14, 80, 134);
}

#logo img {
    width: 90px;
    height: 90px;
    margin: 10px 0px 0px 10px;
    align-items: center;
}

#check {
    display: none;
}

/* Efeito de deslizar o menu */
/* se check estiver "ticado", cria um estilo para ul*/
#check:checked~ul {
    right: 0;
}

label {
    font-size: 3em;
    position: fixed;
    top: 15px;
    right: 15px;
    /* 0.5 = 50% transparente (0 a 1 (100%) */
    color: rgba(29, 28, 28, 0.5);    
}

nav ul {
    list-style: none;
    background-color: rgba(43, 147, 175, 0.726);
    /* remover bullets */
    height: 100vh;
    /* 100vh - 50% altura da tela */
    width: 65%;
    position: fixed;
    top: 70px;
    right: -65%;
    transition: all 0.5s;
}

nav ul li {
    padding: 12px 15px;
    /* lagura x altura box */
    border-bottom: 1px solid var(--cinza);
    text-align: right;
}

nav ul li a {
    color: var(--black);
    /* remover sublinhado */
    text-decoration: none;    
}

/***** Banner *****/
main {
    height: 60vh;
    /* ajuste da altura do banner */
    background: url(img/fotonovo8.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    color: var(--azul);
     /* efeito de sombra nos textos */
    text-shadow: #000 0.07em 0.07em 0.07em;
    }

main h1 {
    color: var(--ciano);
    font-size: 5em;
}

main h2 {
    color: var(--branco);
    font-size: 1.8em;
    margin-top: 30px;
    font-weight: 800;
}
#rodape {
    justify-content: space-between;
    align-items: center;
    background-color: var(--azulEscuro);
    padding-top: 40px;
}
#rodape .container {
    flex-direction: row;
}
#rodape .container h3 {
    color: #fff;
    font-size: 1em;
}

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/********** Destaque **********/

#destaque {
    background: url(img/background2.jpg);
    background-size: cover;
    background-position: center;
    /* espaçamento interno para não encostar na borda da tela do dispositivo */
    padding: 50px 15px;
    background-attachment: fixed;
}

#destaque .container {
    flex-direction: column;
    align-items: center;
}

#ImagemDestaque img {
    width: 200px;
    height: 200px;
    /* arredondar uma imagem quadrada */
    border-radius: 70%;
    margin-right: 50px;
}
 
#textoDestaque {
    color: var(--branco);
}

#textoDestaque h2 {
    margin-bottom: 20px;
}

/* Atenção !!! Detalhe do sinal ">" ref. ao elemento imediato */
#textoDestaque>p {
    margin-bottom: 15px;
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;

    /* color: rgb(13, 59, 75);
    display: center;
    flex-direction: row;
    justify-content: center; */
}

.topicos img {
    margin-right: 10px;
}

.topicos p {
    font-weight: 600;
 }

 /****** Sobre ******/ 
/* O estilo abaixo será aplicado apenas ao container que está subordinado a section "sobre" */
#Sobre {
    padding: 40px 15px;
}

#Sobre .container {
    flex-direction: column;
}

#video iframe {
    width: 340px;
    height: 191px;
    margin-top: 20px;
}

/****** Faixa de destaque ******/
#faixaDestaque {
    background: url(img/background2.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
    background-attachment: fixed;
}

#faixaDestaque .container {
    flex-direction: column;
    justify-content: center;
}

#imagemFaixa img {
    width: 180px;
    height: 180px;
}

#textoFaixa h2 {
    color: var(--branco);
    margin-bottom: 15px;
    font-size: 3em;
}

#textoFaixa p {
    margin-bottom: 50px;
    font-size: 1.5em;
}

/*** Seção de conteúdo (cards) **/
#conteudo {
    padding: 50px 0px;
}

#conteudo .container {
    flex-direction: column;
    align-items: center;
}

#conteudo h2 {
    color: var(--azul);
    margin-bottom: 25px;
}

#todos {
    color: var(--azul);
    margin-top: 50px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/********** Rodape **********/
address {
    padding: 35px 10px 50px 10px;
    background: url(img/background4.jpg);
    background-size: cover;
    background-position: center;
    color: #05152b;
}
address a {
    text-decoration: none;
    color: #05152b;
}
address img {
    padding-top: 15px;
}

#iconLocal {
    display: none;
}
#dados {
    margin: 30px 0px 15px 0px;
}

#googleMaps {
    display: none;
}

footer {
    padding: 50px;
    background-color: #226280;
    color: #fff;
    text-align: center;
}

#social {
    margin-bottom: 25px;
}

/***** Fim do Samartphone Portrait *****/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

    /*** Layout ***/
    .container {
        max-width: 540px;
        /* background-color: #00ffff; */
    }

        /****** Cabeçalho ******/
    nav ul {
        right: -25%;
        width: 25%;
    }
    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }

    /****** destaque ******/
    #destaque .container {
        flex-direction: row;
    }

    #imagemDestaque {
        margin-right: 50px;
    }

    #imagemDestaque img {
        width: 256px;
        height: 256px;
    }   
      
    /***** Rodapé *****/
    .flex5 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #social {
        margin: 0;
    }
}

/***** Fim do Samartphone Landscape *****/


/* Table Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /*** Layout ***/
    .container {
        max-width: 720px;
        /* background-color: #00ffff; */
    }

    /****** Banner ******/
    main {
        height: 80vh;
    }

    main h1 {
        font-size: 4em;
    }
    /****** Destaque ******/
    #imagemDestaque img {
        width: 440px;
        height: 440px;
    }
    #Destaque {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /***** Sobre ******/
    #video iframe {
        width: 560px;
        height: 315px;        
    }

     /****** Seção de conteúdo - cards ******/
     .card {
        margin: 25px 10px 0px 10px;
    }


    /** header {
        height: 100px;
    } */

   /** #logo img {
        width: 150px;
        height: 150px;
        padding-top: 30px;
    } **/

   /** nav ul {
        top: 100px;
        width: 50%;
        right: -50%;
    } **/

    /* Banner */
  /**  main h2 {
        font-size: 3em;
    } **/
}

/***** Fim do Samartphone Portrait *****/


/* Table Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    /****** Layout ******/
    .container {
        max-width: 960px;
        /* background-color: #ffa500; */
    }

    /****** Banner ******/
    main {
        height: 70vh;
    }
}

/***** Fim do Table Landscape *****/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
        /*   background-color: rgb(27, 118, 166); */
    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    #logo img {
        width: 180px;
        height: 180px;
    }

    /* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        margin-top: 25px;
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
        /* Revomer a cor do background */
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--black);
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }

    /* Banner */
    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 3em;
     }

    /****** Destaque ******/
    #destaque {
        /* O código abaixo fixa o banner (efeito parallax) */
        background-attachment: fixed;
    }

    #destaque .container {
        flex-direction: row;
        justify-content: center;
        
    }
    
    /******* Sobre ******/
    #Sobre .container {
        flex-direction: row;
        align-items: center;
    }
     
    #video iframe {
        margin: 0;
    }

    /***** Faixa de destaque ******/
    #faixaDestaque {
        background-attachment: fixed;
    }

    #faixaDestaque .container {
        flex-direction: row-reverse;
        align-items: center;
    }

    #imagemFaixa img {
        width: 400px;
        height: 400px;
    }  

    /** #destaque .container {
        flex-direction: row;
        align-self: center;
        width: fit-content;
    } **/

    /**  #ImagemDestaque {
        margin: 10px 50px 50px 10px;
    } **/

}

/***** Fim do PCs e Norebooks *****/


/* Tela FullHD / 4K / >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {

    /****** Layout ******/
    .container {
        max-width: 1360px;
        /*  background-color: #7d5b8c; */
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 6.5em;
    }

    main h2 {
        font-size: 4em;
    }
    /***** Rodapé *****/
    #iconeLocal {
        display: inline;
    }

    #iconeMapa {
        display: none;
    }

    #googleMaps {
        display: inline;
    }

    .flex6 {
        flex-direction: row-reverse;
    }

    /** header {
        height: 200px;
    } **/

    /** #logo img {
        width: 176px;
        height: 176px;
    } **/

    /** #destaque .container {
        flex-direction: row;
        align-self: center;
    } **/

    /* Fim | Telas Grandes (FullHD / 4K / SmartTV) >>>>> */
}